/* ======TYPOGRAPHY==== */

h1 {
  font-family: Spartan;
  font-size: 2.125rem;
  font-weight: 400;
}

h2 {
  font-family: Spartan;
  font-size: 1.75rem;
  font-weight: 500;
}

h3 {
  font-family: Spartan;
  font-size: 1.25rem;
  font-weight: 500;
}

.navLink {
  font-family: Spartan;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-50);
  transition: 350ms;
  text-decoration: none;
}


.navLink:hover {
  color: var(--primary-300);
}

#current-page {
  border-bottom: var(--primary-50) solid 2px;
}
#current-page:hover {
  color: var(--primary-50);
}

p {
  font-family: Raleway;
  line-height: 23px;
}

footer {
  font-family: Raleway;
  font-size: 0.75rem;
}

.btn {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

/* ====COMPONENTS===== */

/* ------Buttons------ */

.btn {
  display: block;
  padding: 0.75em 1.125em;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: 350ms ease-in-out;
}

/* ------primary------ */

.primary {
  border: none;
  background-color: var(--primary-500);
}
.primary:hover
 {
  box-shadow: 0px 10px 10px var(--shades-50);
  background-color: var(--primary-400);
}
/* ------secondary------ */

.secondary {
  border: none;
  background-color: var(--secondary-500);
}

.secondary:hover
{
  box-shadow: 0px 10px 10px var(--shades-50);
  background-color: var(--secondary-400);
}
/* ------transparent------ */

.transparent {
  border: solid 1px var(--primary-50);
  background-color: var(--shades-00);
}
.transparent:hover {
  background-color: var(--primary-50);
  opacity: 70%;
  color: var(--primary-900);
}
/* ------gradient------ */

.gradient {
  color: white;
  background-image: var(--gradient);



}