/* ====RESETS==== */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  /* border: 1px solid red; */
}
body {
  background: var(--dark-mode-500);
  color: white;
  /* overflow: hidden; */
}
html {
  scroll-behavior: smooth;
}
/* ====NAVIGATION==== */
header {
  width: 100%;
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  background-color: var(--shades-75);
  position: fixed;
  z-index: 99;
} 

.navbar-open {
background-color: var(--shades-95);

}

.nav-dropdown {
  margin-top: 1em;
  height: 100vh;
  display: none;

}

.nav-dropdown-open {
  display: block;
  background-color: var(--shades-95);
}
nav li {
  margin: 2em 1em;
}
/* -----Menu Icon------ */

.menu-toggle {
  background: transparent;
  cursor: pointer;
  padding: 32px;
}

.menu-icon,
.menu-icon:before,
.menu-icon:after {
  
  content: '';
  display: block;
  background: #B828A2;
  width: 64px;
  height: 6px;
  border-radius: 6px;
  transition: all ease-in-out 500ms;
}

.menu-icon:before {
  transform:translateX(-11.5px) rotate(67deg);
}

.menu-icon:after {
  transform:translateX(11.5px) translateY(-5.5px) rotate(-67deg);
}
.menu-open .menu-icon {
  transform: translateY(32px)
  }

.menu-open .menu-icon:before {
  transform:translateX(4px) translateY(-32px) rotate(45deg);
}

.menu-open .menu-icon:after {
  transform: translateX(-2px) translateY(-38px) rotate(-45deg);
}
/* =====HOME=====*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url(../images/Splash-Screen-BG.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* padding: 2em 1em; */
}

.id,
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 1em;
  width: 100%;
}

.title {
  text-align: center;
}
.start {
  width: 95%;
  max-width: 404px;
}
#scrollAnchor {
  height: 80px;
}
/* =====MY WORK=====  */

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 7em 1em ;
  gap: 2em;
  /* align-content: center; */
}

.card {
  display: flex;
  flex: 1;
  flex-flow: column;
  box-shadow: 5px 15px 15px var(--shades-50),  -5px 0px 15px var(--shades-50);
  width: 100%;
  max-width: 400px;
}

.thumbnail {
  flex: 1;
  background: white;
  overflow: hidden;
}

.thumbnail img {
  /* display: block; */
  max-width: 100%;
  /* object-fit: cover; */
}

.copy {
  display: flex;
  flex: 1;
  text-align: center;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-900);
  padding: 2em;
  gap: 2em 1em;
}

.subtitle {
  text-align: center;
}

/* ====ABOUT==== */

#about {
  padding: 2em 1em 4em;
  
}

.btnCage {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#profilePic {
  display: block;
  object-fit: cover;
}

/* ====FOOTER===== */

footer {
  display: flex;
  flex-flow: column;
  background: var(--primary-900);
  padding: 2rem 2rem;
  gap: 1rem;
}

.socialmedia {
  display: flex;
  flex-flow: row;
  align-self: center;
  gap: 1em;
  padding: 0.5rem;
}

.copyright p {
  margin: 0;
  text-align: left;
}

/* ====MEDIA QUERIES==== */

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }

  .wrap {
    flex-direction: row;
    justify-content: space-around;
    max-width: 1144px;
  }

  .card {
    flex-direction: row;
    max-width: 907px;
  }
  #my-work > .card {
    max-height: 314px;
  }
  .card2 {
    flex-direction: row-reverse;
  }

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;

    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 99;
  }

  .nav-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height:0;
    margin: 0;

  }
  
} ;
