body {
  margin: 0px;
}
.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background: black;
}
ul.links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0;
}
.nav {
  font-family: Spartan;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #292c33;
}
.content {
  max-width: 1144px;
  display: flex;
  flex-direction: row;
  margin: 32px;
}
.profile-pic {
  align-self: stretch;
  flex-grow: 1;
  object-fit: fit;
  width: 100%;
}
.profile-pic > img {
  width: 100%;
}
.copy {
  width: 100%;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 32px;
  background-color: #0c0415;
}
h1 {
  font-family: Spartan;
  font-size: 34px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: -0.68px;
  text-align: center;
  color: white;
  margin: 0px;
}
p {
  color: white;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0;
}
.secondary {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  border-style: none;

  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px 20px;
  border-radius: 4px;
  background-color: #b828a2;
  color: white;
}
.gradient {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 14px 20px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(
    185deg,
    #f90898 640%,
    #c32fd6 95%,
    #9f49fe -513%
  );
  border-image-slice: 1;
  background-image: linear-gradient(
      to bottom,
      var(--shades-00),
      var(--shades-00)
    ),
    linear-gradient(185deg, #f90898 640%, #c32fd6 95%, #9f49fe -513%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  flex-grow: 0;
  background-image: linear-gradient(
    188deg,
    #f90898 511%,
    #c32fd6 85%,
    #9f49fe -391%
  );
  font-family: Raleway;
  font-size: 18px;
  font-weight: 600;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  padding: 32px;
  background-color: #0c0415;
}
.socialmedia {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 8px;
}
.copyright {
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.copyright p {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
}
