/* ====RESETS==== */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  background: var(--dark-mode-500);
  color: white;
  /* overflow: hidden; */
}

/* ======TYPOGRAPHY==== */
/* h1,
h2,
h3 {
  margin: 0 auto;
} */
h1 {
  font-family: Spartan;
  font-size: 2.125rem;
  font-weight: 400;
}

h2 {
  font-family: Spartan;
  font-size: 1.75rem;
  font-weight: 500;
}

h3 {
  font-family: Spartan;
  font-size: 1.25rem;
  font-weight: 500;
}

p {
  font-family: Raleway;
}

/* button {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
} */
.btn {
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}
footer {
  font-family: Raleway;
  font-size: 0.75rem;
}

/* ====COMPONENTS===== */

/* ------Buttons------ */

/* button {
  padding: 0.75em 1.125em;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
} */
.btn {
  padding: 0.75em 1.125em;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  text-align: center;
}
/* ------primary------ */

.primary {
  border: none;
  background-color: var(--primary-500);
  transition-duration: 350ms;
}
.primary:hover {
  background-color: var(--primary-400);
}
/* ------secondary------ */

.secondary {
  border: none;
  background-color: var(--secondary-500);
  transition-duration: 350ms;
}

.secondary:hover {
  background-color: var(--secondary-400);
}
/* ------transparent------ */

.transparent {
  border: solid 1px var(--primary-50);
  background-color: var(--shades-00);
  transition-duration: 350ms;
}
.transparent:hover {
  background-color: var(--primary-50);
  opacity: 70%;
  color: var(--primary-900);
}
/* ------gradient------ */

/* ====NAVIGATION==== */

.mobile-nav {
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  width: 100%;
  background-color: var(--shades-50);
}

/* =====HOME=====*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url(/images/Splash-Screen-BG.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* padding: 2em 1em; */
}

.id {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
  gap: 1em;
  width: 100%;
}

.title {
  text-align: center;
}
.start {
  width: 95%;
  max-width: 404px;
}
/* =====MY WORK=====  */

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2rem 1rem;
  gap: 2em;
  /* align-content: center; */
}

.card {
  display: flex;
  flex: 1;
  flex-flow: column;
  /* margin: 2em 1em; */
  width: 100%;
  max-width: 400px;
}

.thumbnail {
  flex: 1;
  background: white;
  overflow: hidden;
}

.thumbnail img {
  display: block;
  width: 100%;
}

.copy {
  display: flex;
  flex: 1;
  text-align: center;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-900);
  padding: 2em;
  gap: 2em 1em;
}

.subtitle {
  text-align: center;
}

/* ====ABOUT==== */

.btn {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* ====FOOTER===== */

footer {
  display: flex;
  flex-flow: column;
  background: var(--primary-900);
  padding: 2rem 2rem;
  gap: 1rem;
}

.socialmedia {
  display: flex;
  flex-flow: row;
  align-self: center;
  gap: 1em;
  padding: 0.5rem;
}

.copyright p {
  margin: 0;
}

/* ====MEDIA QUERIES==== */

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }

  .id {
    flex-direction: row;
    justify-content: space-around;
    max-width: 1144px;
  }

  .card {
    flex-direction: row;
    max-width: 907px;
  }
  #my-work > .card {
    max-height: 314px;
  }
  .card2 {
    flex-direction: row-reverse;
  }
} ;
